nav{
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
    gap:700px;
}

.right{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.right div{
    padding: 0px 20px;
    text-align: center;
    justify-content: center;
}
.one{
    padding-top: 140px;
    text-align: center;
    /* border: 2px solid red; */
    font-size: 40px;
    font-weight: 400;
    font-family: Roboto,"helvetica neue", helvetica,arial,sans-serif;
}
.two{
    text-align: center;
    padding: 10px;
    /* border: 2px solid purple; */
    font-family: Roboto,"helvetica neue", helvetica,arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 25px;
}
.three{
    display: flex;
    width: 40vw;
    margin: auto;
    border: 2px solid rgb(224, 228, 233);
    box-shadow: 2px 3px 2px rgb(224, 228, 233);
    border-radius: 80px;
    padding: 10px;
    justify-content: space-between;
    gap: 0px;
    cursor: pointer;
}

.three input{
    border: none;
    font-size: large;
    text-align: start;
    padding-top: 8px;
    padding-left: 0px;
    margin: auto;
    width: 32vw;
}
.four{
    width: 30vw;
    justify-content: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 4%;
    display: flex;
    gap: 10px;
}
.part{
    display: flex;
    border: 1px solid rgb(224, 228, 233);
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgb(224, 228, 233);
    padding: 9px;
    width: 140px;
    justify-content: center;
    text-align: center;
    gap: 8px;
}
.text{
    color: grey;
    font-family: Roboto,"helvetica neue", helvetica,arial,sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.part:hover{
    background-color: aquamarine;
}
.text:hover{
    color: blue;
}
.five{
    border: 2px solid rgb(224, 228, 233);
    width: 35vw;
    margin: auto;
}
.h{
    padding: 20px 20px;
   font-size: 20px;
   font-weight: 400;
   letter-spacing: 0.5px;
   font-family: Roboto,"helvetica neue", helvetica,arial,sans-serif;
}
.topic{
    display: flex;
    text-align: left;
    gap: 60px;   
}
ol li{
    list-style: circle;
}
li{
    font-weight: 600;
    color:rgb(93, 26, 155);
    padding: 8px;
    cursor: pointer;
}
li:hover{
    text-decoration: underline;
}
@media screen and (max-width: 900px){
    nav{
        gap: 200px;
    }
    .topic{
        gap: 8px;
    }
    
}
